body{
    
    justify-content:center;
    align-items: center;
    background: linear-gradient(135deg, rgb(94, 14, 14),rgb(95, 95, 199));
    margin: 70px;
    min-height: 100vh;
}

header{

    border-radius: 150px;

    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    height: 50px;
    

    background-color: #000000; /* Dark grey background color */
    color: #fff; /* White text color */
    padding: 20px; /* Add some padding around the header content */
    text-align: center; /* Center-align the text */
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

nav{
    margin: 15px 0;
    display: flex;
    align-content: center;
    justify-content: center;

}

#searchInput{
    border-radius: 150px;

    border-color: rgb(0, 0, 0);
    width: 50%;
    max-width: 500px;
    height: 30px;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    padding-left: 34px;
}

#content{
    
    display: flex;
    align-content: center;
    justify-content: center;
}

#addUserButton{

    border-radius: 30px;
    width: 65%;
    max-width: 550px;
    height: 50px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;

    transition: height 1s ease; /*expand */




}

#addUserButton:hover{

    width: 55%;
    border-color: #ff00aa;
    animation: borderMove 2s linear infinite;
    border-radius: 30px;


}

@keyframes borderMove {
    0% {
        border-color: #ff0000; /* Start with red border color */
    }
    50% {
        border-color: #00ff00; /* Change border color to green */
    }
    100% {
        border-color: #0000ff; /* Change border color to blue */
    }
}

#addUserButton.hover-style:hover {
    transition: height 1s ease; /*expand */

    width: 55%;
    border-color: #ff00aa;
    animation: borderMove 2s linear infinite;
    

}

#addUserButton.active-style {
    transition: height 1s ease; /*expand */
    border-radius: 30px;

    width: 55%;
    border-radius: 30px;
    height: 200px;
    background-color: #ffffff;

    
}

#contactFormContainer{
    display: flex;
    margin-top: 20px;
    margin-left: 15%;
    align-content: center;
    flex-direction: column;

}

#contactFormContainer input {
     
    margin: 5px 50px;

    width: 50%;
    max-width: 300px;
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 50px;
  }

#contactButtonContainer{
    align-content: center;
    justify-content: center;
    display: flex;
    flex-flow: row nowrap;
    height: auto;

}

  #contactButtonContainer button {
    margin: 25px;
    
    width: 40%;
    max-width: 200px;
    padding: 10px 0px;
    border: 1px solid #000000;
    border-radius: 5px;
  }


  #contactCard{
    display: none;


    border-radius: 20px;
    border: 2px solid #000000;

    padding-top: 10px;
    margin: 10px auto;
    width: 30%;
    min-width: 400px;
    
    background-color: #9f9faa;
     
 
   }

#contactCard.show {
    animation: fadeIn 1s forwards;
}

#contactCard.hide {
     animation: fadeOut 1s forwards;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

#saveContactBtn:hover{
    background-color: #4b4b4e;
}

#saveContactBtn:active{
    background-color: #5a5a5a;

}

.contactList{
    
    
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    border-radius: 20px; 

    margin: 20px auto;
    max-width: 70vh;
}

ul li{
    
    list-style: none;
    max-width: 800px;
    margin: 20px;
    margin-right: 60px;
   
    padding: 30px 40px;
    border-radius: 25px;
    background-color: #d68100b9;
    border: 1px solid #000000;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;

}

#editBtn,#deleteBtn{
    background-color: #af5145;
    display: flex;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 15px 0px;
}

.edit-name, .edit-email ,.edit-number, .edit-address{
border-radius: 5px;
width: 50vh;
min-width: 0px;
max-width: 250px;
min-height: 20px;
padding-left: 10px;
font-size: 20px;

}


